
    {{errorMsg}}
    <form (ngSubmit)="loginForm.valid && login()" [formGroup]="loginForm" #lf="ngForm">
      
        <input type = "email" 
          formControlName = "email" 
          class = "" 
          id = "email"
          placeholder = "Email">

        <div *ngIf="loginForm.controls.email.invalid && lf.submitted">
          Valid Email field is required
        </div>

        <input type = "password" 
          class = "" 
          formControlName = "password" 
          placeholder = "Password">

        <div *ngIf = "loginForm.controls.password.invalid && lf.submitted">
          Password is required
        </div>          
        
        <button [disabled]="loading"   
          class = "">
          Sign In
      </button>    
    </form>
    <p>Form value {{ loginForm.value | json }} </p>
    <p>Form status {{ loginForm.status | json}} </p> 
    <p>Loading: {{loading}}</p>
